:root {
  --clr-active-state: hsl(220, 98%, 61%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--clr-body-bg)
}

.background {
  z-index: -1;
  background: no-repeat;
  background-image: url(./images/bg-desktop-light.jpg);
  background-size: cover;
  background-position: center top;
  width: 100vw;
  height: 20rem;
  position: absolute;
}

main {
  height: 98.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 78vh;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

h1 {
  font-size: 40px;
  letter-spacing: 0.75rem;
  color: white;
}

.hidden-circle{
  display: none;
}

.hidden{
  position: absolute;
  visibility: hidden;
}

.js-input {
  background-color: var(--clr-card-bg);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  width: 32rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.js-input > input[type="checkbox"],
.js-check {
  display: none;
}

.js-add-label,
.js-check-label {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--clr-list-border);
  border-radius: 50%;
}

.fill-circle{
  background-image: url("./images/icon-plus.svg"), linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.js-check-label:has(> .js-check:checked){
  background-image: url("./images/icon-check.svg"), linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

/*This is a hell of a hack job that doesn't yet have support for Firefox*/
.js-check-label:has(> .js-check:checked), .fill-circle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%, cover;
}

.js-check-label, .text-output, #radio-all + label, #radio-active + label, #radio-completed + label, .js-clear-completed{
  cursor: pointer;
}

.js-input-text {
  border: 0;
  outline: 0;
  background-color: var(--clr-card-bg);
  color: var(--clr-text);
  caret-color: var(--clr-active-state);
  font-size: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--clr-card-bg);
  border-radius: 6px;
  box-shadow: 0px 15px 50px -5px var(--clr-shadow);
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  border-bottom: 1px solid var(--clr-list-border);
  width: 100%;
}

.list-item:hover{
  background: url(./images/icon-cross.svg) no-repeat 525px 26px;
}

.text-output {
  color: var(--clr-text);
}

.list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  color: var(--clr-footer-text);
}

.list-footer > p,
p > span,
.js-clear-completed {
  font-size: 14px;
}

.filter {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#radio-all,
#radio-active,
#radio-completed {
  display: none;
}

#radio-all + label,
#radio-active + label,
#radio-completed + label {
  font-size: 16px;
  font-weight: 700;
}

#radio-all:checked + label,
#radio-active:checked + label,
#radio-completed:checked + label {
  color: var(--clr-active-state);
}

.js-clear-completed {
  background: 0;
  border: 0;
  color: var(--clr-footer-text);
}

.container > p {
  font-size: 16px;
  color: var(--clr-footer-text);
  margin-top: 4rem;
}

.completed{
  text-decoration: line-through;
  color: var(--clr-complete-text);
}

:root:has(#dark:checked){
  --clr-body-bg: hsl(235, 21%, 11%);
  --clr-card-bg: hsl(235, 24%, 19%);
  --clr-text: hsl(236, 33%, 92%);
  --clr-footer-text: hsl(234, 11%, 52%);
  --clr-footer-text-hover: hsl(233, 14%, 35%);;
  --clr-complete-text: hsl(234, 11%, 52%);
  --clr-list-border: hsl(237, 14%, 26%);
  --clr-shadow: hsl(235, 21%, 11%);
}

:root:has(#light:checked){
  --clr-body-bg: hsl(236, 33%, 92%);
  --clr-card-bg: hsl(0, 0%, 98%);
  --clr-text: hsl(235, 19%, 35%);
  --clr-footer-text: hsl(236, 9%, 61%);
  --clr-footer-text-hover: hsl(235, 19%, 35%);
  --clr-complete-text: hsl(236, 9%, 61%);
  --clr-list-border: hsl(233, 11%, 84%);
  --clr-shadow: hsl(236, 33%, 92%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-text);
}

.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
  color: var(--clr-text);
}
